<div class='span14'>
	<h2>Find Your Favorite Beers</h2>
	<br/>
	<%= form_tag '/index', :method => :get do %>
		<%= label_tag 'Beer' %>
		<%= text_field_tag :name_query %>
		<br/>
		<%= label_tag 'Brewer' %>
		<%= text_field_tag :brewer_query %>
		<br/><br/>
		<%= submit_tag 'Search', class: 'btn btn-primary' %>
	<% end %>
	<br/>
	<table class='table table-striped'>
		<tr>
			<th>Beer</th>
			<th>Brewer</th>
			<th>City</th>
			<th>State</th>
			<th>Style</th>
			<th>Body</th>
			<th>ABV</th>
		</tr>
		<% @beers.each do |beer| %>
		<tr>
			<td><%= link_to beer.name, beer_url(beer.id) %></td>
			<td><%= beer.brewer %></td>
			<td><%= beer.city %></td>
			<td><%= beer.state %></td>
			<% if beer.style == 'ipa' %>
				<td>IPA</td>
			<% elsif beer.style.present? %>
				<td><%= beer.style.capitalize %></td>
			<% else %>
				<td></td>
			<% end %>
			<td><%= beer.body.capitalize %></td>
			<td><%= beer.abv %>%</td>
		</tr>
		<% end %>
	</table>
</div>
